<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DentalClinicManagementSystemApp.Properties.Settings.DentalClinicDbConnectionString" connectionString="Data Source=DEKTOP-KHILI9C-\SQLEXPRESS;Initial Catalog=DentalClinicDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  <add name="DentalClinicDbEntities" connectionString="metadata=res://*/DentalDb.csdl|res://*/DentalDb.ssdl|res://*/DentalDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEKTOP-KHILI9C-\SQLEXPRESS;initial catalog=DentalClinicDb;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
	  <!-- Insert MailSettings configuration here -->
	  <add key="MailSettings.Mail" value="stanleigh3oduor@gmail.com" />
	  <add key="MailSettings.DisplayName" value="hospital@queueMIS-booking.org" />
	  <add key="MailSettings.Password" value="ofnh mkca elzz nhcp " />
	  <add key="MailSettings.Host" value="smtp.gmail.com" />
	  <add key="MailSettings.Port" value="587" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>